<!-- base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                
        
            </ul>
        </nav>
        
        {% if not user.is_authenticated %}
            <div class="login-button">
                <a href="{% url 'login_user' %}" class="btn btn-primary">Log In</a>
            </div>
            <div class="signup-button">
                <a href="{% url 'signup_user' %}" class="btn btn-primary">Sign Up</a>
            </div>
        {% else %}
            <div class="signout-button">
                <form method="post" action="{% url 'signout_user' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sign Out</button>
                </form>
            </div>
        {% endif %}
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
    </footer>
</body>
</html>
